body{
        background-color: #f6ceb4;
        color: #040316;
}

header{
        font-size: 20px;
        background-color: #240000;
        color: #ffffff;
        width: 100%;
        padding-left: 10px;
        margin-top:-28px;
        margin-left: -10px;
       
}
 header a:link { color: #FFFFFF;}
 header a:visited{ color: #FFFFFF;}
 header a:hover{ color: lightgray;}
 header a{ text-decoration: none;}

nav{
        text-align: right;
        font-size: 20px;
        margin-top: -60px;
        padding-right: 10px;
        background-color: #240000;
        color: #ffffff;
}
nav a {
        margin-left:20px;
}
a:link { color: #ffffff;}
a:visited{ color: darkgray;}
a:hover{ color: lightgray;}
a{text-decoration:none;}


h2{
    background-color: #805500;
    color:#d3b792;
    font-size:400%;
    margin-top: 10px;
    margin-left: -10px;
    padding-bottom: 15px;
}

h3{
        color: #240000;
        margin-left: -10px;
        margin-top: -20px;
        padding-bottom: .5px;
        font-size: 200%; 
}

h3 a:link { color: #240000;}
h3 a:visited{ color: #240000;}
h3 a:hover{ color: #805500;}

h3:nth-of-type(odd) {
        background-color: #d3b792; 
}
.preview-image{
        width: 50%;
        max-width: 400px;
        height: auto;
        margin-left: -10px;
}
p{ font-size: 25px;
    margin-left: 10px;
   
}
p a:link { color: #240000;}
p a:visited{ color: #240000;}
p a:hover{ color: #805500;}
.plants-page p{
    margin-top:0px;
}
.invasive-page p{
    margin-top:0px;
}
.support-page p{
    margin-top:0px;
}
.index-page p{
    max-width: 650px;
    margin-top: 0px;
}

.h4-container{
        background-color: rgba(211, 183, 146, 0.7);
        display:flex;
        justify-content: flex-end;
        width: max-content;
        margin-left:auto;
        margin-right:1em;
        margin-top: 1em;
        font-size: 50px;
       
}
 h4 a:link { color: #240000;}
 h4 a:visited{ color: #240000;}
 h4 a:hover{ color: lightgray;}
 h4 a{ text-decoration: none;}
.Support {
        max-width: 650px;
        margin-top: 0px;
}
.main-image{
        float: left;
        width: 400px;
        height: 600px;
        margin-left: -10px;
        margin-right: 10px;
}
.thumbnail{
        width: 200px;
        height: 200px;
        margin-left: -10px;
        margin-right: 10px;
}
footer{
        background-color:#805500;
        color:#ffffff;
        margin-left:-10px;
        padding-left:10px;
        text-align:bottom;
}
#homehero{
        background-image: url("pexels-Cactus.jpg");
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 100%;
        padding-right: 10px;
        margin-top:-66px;
        margin-left:-10px;
     
}
@media (min-width: 600px) {
     .flow { flex-direction: row;
        flex: 1;
        gap: 2em;
     }
        form {  flex-wrap: nowrap;
        flex-direction: column;
        width: 60%;
        max-width: 30em;
        display: grid;
        grid-template-columns: 6em 1fr; 
        }

        input[type = "submit"] {
                grid-column: 2;
                width: 9em;
        }
}